/* Default styles for media screen below 1400px */

/* html tag used to define font and background for webpage */ 
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right bottom, #ff0505, #fc1924e1, #d60505, #d41717, #af0202, #af1313);
    height: auto;
    min-height: 100%;
    color:white;
}

/* header tag used to define padding size for header */
header {
    padding: 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
}

/* h1 h2 a tags used to define font size and text alignment */
h1 h2 a {
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    color:white
}

/* logo-icon id to define style logo image in all pages */
#logo-icon {
    width: 30%;
    max-width: 240px;
    height: inherit;
    padding: 1em;
}

/* text-rules id used to define style for text in some div of all pages such as font size, position and text alignment */
#text-rules {
    text-align: justify;
    padding: 1em;
    justify-content: center;
    font-size: large;
}

/* button tag used to define style of buttons in all pages such as the color, size and others */
button, a.button {
    padding: 16px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin:2em;
}

/* footer tag used to define style of the footer with padding size and text alignment */
footer {
    padding: 1em;
    text-align: center;
}

/* footer-icon class used to define style for social media icons in the footer */
.footer-icon {
    padding: 1em;
    width: 40px;
    color: black;
    height: inherit;
}

/* center-div class used to define text alingment and padding size for some divs */
.center-div {
    text-align: center;
    padding: 1em;
}

.box-image {
    width: 20vw;
    height: 12vw;
    padding: 1em;
    border-radius: 40px;
    margin: 1em;
    margin-bottom: 0;
}

.box-text {
    border-radius: 10px;
    background-color: purple;
}

.field {
  width: 200px;
  height: 30px;
  margin: 10px;
}

button2 {

    padding-left: 200px;
    padding-right: 200px;
    border-radius: 10px;

  background: white;
  color: black;
}

button2:active {
  background: yellow;
  color: black;
}

button2:hover {
    background: yellow;
    color: black;
  }

/* Styles for media scren above 1400px */
@media screen and (min-width: 1400px) {
/* center-div class use to define text aling and padding size for some divs */
.center-div {
    text-align: center;
    padding: 1em;
}

/* text-rules id used to define style for text in some div of all pages such as font size, position and text alignment */
#text-rules {
    text-align: justify;
    padding: 1em;
    padding-left: 20em;
    justify-content: center;
    font-size: large;
}

}