/* Default styles for media screen above 1200px */

/* html tag used to define font and background for webpage */ 
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right bottom, #ff0505, #fc1924e1, #d60505, #d41717, #af0202, #af1313);
    height: auto;
    min-height: 100%;
    color:white;
}

/* header tag used to define padding size for header */
header {
    padding: 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
}

/* h1 h2 a tags used to define font size and text alignment */
h2 a {
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    color:white
}

/* logo-icon id to define style logo image in all pages */
#logo-icon {
    width: 30%;
    max-width: 240px;
    height: inherit;
    padding: 1em;
}

/* text-rules id used to define style for text in some div of all pages such as font size, position and text alignment */
#text-rules {
    text-align: justify;
    padding: 1em;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: center;
}

/* button tag used to define style of buttons (navigation) in all pages such as the color, size and other styling */
button, a.button {
    padding: 16px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin:2em;
}

/* footer tag used to define style of the footer with padding size and text alignment */
footer {
    padding: 1em;
    text-align: center;
}

.foorter-box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* footer-icon class used to define style for social media icons in the footer */
.footer-icon {
    padding: 1em;
    width: 40px;
    color: black;
    height: inherit;
}

/* center-div class used to define text alingment and padding size for some divs */
.center-div {
    text-align: center;
    padding: 1em;
}

/* box-image class used to define size, padding and other styling for images */
.box-image {
    width: 20vw;
    height: 12vw;
    padding: 1em;
    border-radius: 40px;
    margin: 1em;
    margin-bottom: 0;
}

/* box-image class used to define size, padding and other styling for images */
.box-text {
    border-radius: 10px;
    background-color: purple;
}

/* button2 used to define size, padding and other styling for the quiz answers selection (not the navigation buttons) */
button2 {
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 10px;
    background: white;
    color: black;
}

button2:active {
  background: yellow;
  color: black;
}

button2:hover {
    background: yellow;
    color: black;
}

/* Styles for media scren above 480px and below 1200px*/
@media screen and (max-width: 1200px) {
/* center-div class use to define text aling and padding size for some divs */
button, a.button {
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
    font-size: 12px;
}
}

button2 {
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 8px;
}

/* Styles for media scren above 480px and below 480px*/
@media screen and (max-width: 480px) {
    /* center-div class use to define text aling and padding size for some divs */
    button, a.button {
        padding: 8px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 6px;
        font-size: 8px;
    }
    }

    button2 {
        padding-left: 100px;
        padding-right: 100px;
        border-radius: 6px;
    }

    #logo-icon {
        width: 20%;
    }
